<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      for successful login please enter below code,
     <h3><%=@otp%></h3><br>
    </p>
   
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>