<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Student Atendance portal, <%= @teacher.name %></h1>
    <p>
      You have successfully signed up to Student atendance portal
      your username is: <%= @teacher.name %><br>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
