<div style="padding: 10px;">
   <%= link_to "Back to Teachers", teachers_path, class: "btn btn-success" %>    
</div>

<div class="col-6" style="margin : 0 auto;">
<h1>Editing Teacher</h1></br>
<%= render "form", teacher: @teacher %>
</div>