<div style="padding: 10px;">
  <%= link_to "Back to Subjects", subjects_path, class: "btn btn-success" %>    
</div>

<div class="col-6" style="margin : 0 auto;">
  <h1>Editing Subject</h1></br>
  <%= render "form", subject: @subject %>
</div>