
<div class="col-9" style="margin : 0 auto; padding: 50px; text-color: red;">
<h1>Welcome to Student Attendance Portal</h1>
</div>

<div class="btn-group" style="padding : 70px;margin-left: 130px;">
  <div class="col-4">
    <%= link_to "Students", students_path, class: "btn btn-success" %>    
  </div>

  <div class="col-4">
    <%= link_to "Teachers", teachers_path, class: "btn btn-success" %>    
  </div>

  <div class="col-4">
    <%= link_to "Subjects", subjects_path, class: "btn btn-success" %>    
  </div>

  <div class="col-4">
    <%= link_to "Attendance", attendances_path, class: "btn btn-success" %>    
  </div>

</div>
