<div class="col-5"style="padding: 40px;">
  <%= link_to "Back to Attendance", attendances_path, class: "btn btn-success" %>    
</div>

<div class="col-4" style="margin : 0 auto;">
  <div class="col-8" style="margin : 0 auto;">
    <h1>New Attendance</h1></br>
  </div>
  <%= render "form", attendance: @attendance %>
</div>


